Python/.vscode/settings.json
Web/tic-tac-toe/node_modules/
Web/.vscode/settings.json
Web/node-intro/node_modules/
Web/my-express-server/node_modules/
Web/calculator/node_modules/
Web/Bitcoin-Ticker/node_modules/
Web/todolist-v1/node_modules/
Python/venvs/
Python/Basic/tests.py
Web/ejs-challenge/node_modules/
Web/FruitsProject/node_modules/
