Python/.vscode/settings.json
Web/tic-tac-toe/node_modules/
Web/.vscode/settings.json
Web/node-intro/node_modules/
Web/my-express-server/node_modules/
Web/calculator/node_modules/
Web/Bitcoin-Ticker/node_modules/
Web/todolist-v1/node_modules/
Python/venvs/
Python/Basic/tests.py
Web/ejs-challenge/node_modules/
Web/FruitsProject/node_modules/
Web/todolist-v2/node_modules/
Web/Blog/node_modules/
Web/Wiki-API/node_modules/
Python/Games/__pycache__/

Python/Basic/text/
Python/HTTP/blog_data.csv
Python/HTTP/quotes.csv

Python/HTTP/__pycache__/book_scraper.cpython-37.pyc
Python/HTTP/books.csv
Web/Secrets/node_modules/
Web/Secrets/.env
