<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <p class="navbar-brand">DAILY JOURNAL</p>
        <ul class="navbar-nav ml-auto">
          <!-- 6 -->
          <li id="home" class="nav-item"><a href="/" class="nav-link">HOME</a></li>
          <li id="about" class="nav-item"><a href="about" class="nav-link">ABOUT</a></li>
          <li id="contact" class="nav-item"><a href="contact" class="nav-link">CONTACT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
